.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  margin-top: 2em;
}

.movie-card {
  height: 25.5em;
  width: 15em;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
}

.movie-card img {
  border-radius: 0.2em;
}

.movie-card p {
  cursor: pointer;
}

.movie-favorite {
  display: flex;
  position: absolute;
  top: 0em;
  right: 0em;
  width: 1.5em;
  height: 1.5em;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.25em;
  cursor: pointer;
  border-radius: 0em 0.2em 0em 0.2em;
}

.movie-favorite img {
  position: relative;
  color: var(--text-yellow);
}

.movie-poster {
  width: 100%;
  height: 25em;
  object-fit: cover;
}

.movie-title {
  padding: 0.3em;
  font-size: 1em;
  text-align: center;
}
